page-home,
page-search {

  .item,
  .item-inner,
  .input-wrapper,
  .label {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  .header,
  .toolbar {
    background-color: transparent;
    border: none;
    pointer-events: none;
  }

  .scroll-content,
  .fixed-content {
    margin: 0 0 50px 0 !important;
    font-size: 18px;
  }

  .list {
    margin-bottom: 5px;
  }
}

page-home {

  .list-item {
    position: relative;
  }

  .item-visual {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: left $transition-duration ease-in-out;


    h3 {
      position: absolute;
      bottom: 16px;
      z-index: 3;
      padding: 0 5%;
      margin: 0;
      width: 100%;
      font-size: 2rem;
      text-align: center;
      display: inline-block;
      white-space: pre-wrap;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      background-image: linear-gradient(to top, black,transparent);
      opacity: .9;
    }
  }

  .item-visual.show-more {
     left: -90%;
  }

  .item-info {
    position: relative;
    height: 25vh;
    overflow: hidden;
    border-bottom: 1px solid color($colors, dark);
    padding: 0 10px 10px 10%;
    p {
      font-size: 1.3rem;
      padding-left: 16px;
      white-space: pre-wrap;
      line-height: 1.4;
    }
  }

  .view-item-button {
    position: absolute;
    bottom: 10px;
    right: 16px;
    @extend .outlined-button;
  }

  .more-button {
    position: relative;
    background-color: transparent;
    color: white !important;
    font-size: 30px;
    margin-top: 16px;
    padding: 0 16px;
    float: right;
    cursor: pointer;
    z-index: 6;
  }

  .filter-button {
    position: absolute;
    bottom: 90px;
    right: 40px;
    z-index: 6;
    border-width: 3px;
    background-color: rgba(black, 0.2);
  }




}


