<ion-header>
  <!--<ion-navbar>-->
  <!--<ion-title>-->
  <!--<span>Search</span><ion-icon name="search"></ion-icon>-->
  <!--</ion-title>-->
  <!--</ion-navbar>-->
</ion-header>
<ion-content>
  <div class="search-form" [ngClass]="{'closed': submitted}">
    <h2>Search for a recipe</h2>
    <div class="filter-container">
      <div class="filter-item left" [class.selected]="courseFilter.starter">
        <label for="f1">Starters</label>
        <input type="checkbox" id="f1" [(ngModel)]="courseFilter.starter">
      </div>
      <div class="filter-item" [class.selected]="courseFilter.main">
        <label for="f2">Mains</label>
        <input type="checkbox" id="f2" [(ngModel)]="courseFilter.main">
      </div>
      <div class="filter-item right" [class.selected]="courseFilter.dessert">
        <label for="f3">Desserts</label>
        <input type="checkbox" id="f3" [(ngModel)]="courseFilter.dessert">
      </div>
    </div>
    <div class="filter-container lg">
      <div class="filter-item left" [class.selected]="ingredientsFilter.vegetarian">
        <label for="f4">Vegetarian</label>
        <input type="checkbox" id="f4" [(ngModel)]="ingredientsFilter.vegetarian">
      </div>
      <div class="filter-item center" [class.selected]="ingredientsFilter.meat">
        <label for="f5">Meat</label>
        <input type="checkbox" id="f5" [(ngModel)]="ingredientsFilter.meat">
      </div>
      <div class="filter-item" [class.selected]="ingredientsFilter.seafood">
        <label for="f6">Seafood</label>
        <input type="checkbox" id="f6" [(ngModel)]="ingredientsFilter.seafood">
      </div>
      <div class="filter-item right" [class.selected]="ingredientsFilter.poultry">
        <label for="f7">Poultry</label>
        <input type="checkbox" id="f7" [(ngModel)]="ingredientsFilter.poultry">
      </div>
    </div>
    <ion-item>
      <ion-label stacked>Ingredient or recipe name</ion-label>
      <ion-input type="text" maxlength="55" [(ngModel)]="searchText"></ion-input>
    </ion-item>
    <div class="filter-container submit">
      <button class="reset-button" (click)="resetSearch()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button class="submit-button" (click)="submitSearch()">
        <ion-icon name="return-right"></ion-icon>
      </button>
    </div>
  </div>
  <div class="result-list">
    <ion-list>
      <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
        <div [className]="itemVisual" [ngStyle]="{'background-image': 'url(' + item.featuredImage + ')', 'height': '25vh',
         'back-ground-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
          <h3>{{item.title.rendered}}</h3>
        </div>
      </button>
    </ion-list>
  </div>
  <div class="summary" [ngClass]="{'open': submitted}">
    <div class="summary-header"><h5>Showing search results for:</h5>
      <button ion-button color="success" (click)="resetSubmit()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </div>
    <ul>
      <li *ngFor="let filter of selectedCourses"><span class="selected-filter">{{filter}}</span></li>
      <li *ngFor="let filter of selectedIngredients"><span class="selected-filter">{{filter}}</span></li>
    </ul>
    <span class="selected-filter">{{searchText}}</span>


  </div>
</ion-content>
