page-search {
  .scroll-content,
  .fixed-content {
    //margin-top: 265px !important;
  }

  .search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 265px;
    padding: 0 5%;
    background-color: color($colors, dark) !important;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    transition: height $transition-duration ease-out;

    .label,
    input {
      padding-left: 6px !important;
    }

    input[type=checkbox] {
      display: none;
    }

    .filter-container {
      margin: 16px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;

      &.submit {
        justify-content: flex-end;
        button {
          padding: 8px 16px;
          border-radius: $border-radius;
        }
      }
    }

    .filter-item {
      border: 1px solid color($colors, input);
      margin: 0 !important;
      text-align: center;
      background: transparent;

      label {
        display: inline-block;
        cursor: pointer;
        padding: 8px 16px;
      }

      &.left {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border-right: none;
      }
      &.center {
        border-right: none;
      }
      &.right {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        border-left: none;
      }

    }
  }

  .search-form.closed {
    height: 0px;
  }

  .filter-item.selected {
    background-color: color($colors, input);
  }

  .reset-button {
    background-color: color($colors, input);
    padding: 8px 20px !important;
    margin-right: 20px;
  }

  .submit-button {
    background-color: color($colors, success);
  }

  .result-list {
    position: relative;
  }

  .summary {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: color($colors, dark) !important;
    font-size: 1.3rem;
    z-index: 2;
    transition: height $transition-duration ease-in;

    .summary-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;

      button {
        position: relative;
        top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    h5 {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-flex;
    }
    li {
      margin: 0 6px 6px 0;
    }

    .selected-filter {
      display: inline-block;
      padding: 4px 8px;
      background-color: color($colors, input);
      border-radius: $border-radius;
      white-space: pre-wrap;
    }

    &.open {
      height: 150px;
    }
  }

}
